mixin product-card(product)
  .card
    img.card-img-top(src='http://lorempixel.com/250/200', alt='Card image cap')
    .card-body
      h5.card-title= product.name
      p.card-text= product.category
      p.card-text= product.desc
        small.text-muted Last updated N mins ago
      form(action='/cart' method='post')
        input(type="hidden", name="_csrf" value=csrfToken)
        input(type='hidden', name='productId', value=product._id)
        button.btn.btn-outline-info(type='submit') Купить
      a.btn.btn-primary(href=`products/${product._id}`) Подробнее

